flask>=2.3.0
gunicorn>=21.2.0
flask-limiter>=3.5.0
pyotp>=2.8.0
qrcode>=7.4.2
Pillow>=10.0.0
python-dotenv>=1.0.0
bcrypt>=4.1.0
flask-talisman>=1.1.0
flask-cors>=4.0.0
sentry-sdk[flask]>=2.0.0
pymongo[srv]>=4.6.0
certifi>=2024.2.2
openpyxl>=3.1.2




